deprecated/
.venv/
.vscode/
guslatho/venv
# Local virtualenvs
/guslatho/venv/

# Local virtualenvs
/guslatho/venv/
venv/
.venv/

titan.pub

functional_connectivity_results
visual_fc_results_1st_level
auditory_fc_results_1st_level
auditory_fc_results_2nd_level
results